<section class="bg-zinc-900 rounded-xl p-20 my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300 ">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit cumque
    repellendus, sapiente sunt sequi suscipit earum magnam voluptas nihil,
    doloribus laboriosam id sit provident fuga molestias. Molestiae aut et
    ullam!
  </p>
</section>
