---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Acerca del Sitio'>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quidem nesciunt atque, delectus ratione tenetur, sapiente ex repellat eaque nostrum doloremque deleniti omnis eligendi soluta, quasi magni expedita quas neque?</p>
</Layout>